<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <mat-card class="bg-light">
        <h5 class="mb-1">სამართავი პანელი</h5>
        <mat-form-field class="w-100" color="accent">
          <input matInput type="text" placeholder="სახელი" required [(ngModel)]="userName">
        </mat-form-field>
        <mat-form-field class="w-100" color="accent">
          <input matInput type="password" placeholder="პაროლი" autocomplete="new-password" required [(ngModel)]="password">
        </mat-form-field>
        <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        <button mat-raised-button class="w-100" color="accent" (click)="onSubmit('result')">ავტორიზაცია</button>

      </mat-card>
    </div>
  </div>
</div>





