<app-header></app-header>
<!--Date-->
<div class="mat">
<mat-form-field class="example-full-width">
  <input matInput [matDatepicker]="dp3" placeholder="თვე/რიცხვი/წელი" disabled>
  <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
  <mat-datepicker touchUi #dp3 disabled="false"></mat-datepicker>
</mat-form-field>
</div>
<!--studentList-->
 <mat-accordion>
  <mat-expansion-panel *ngFor="let student of studentList ">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ student.user }}
      </mat-panel-title>

      <mat-panel-description>
        <mat-icon>account_circle</mat-icon>
         {{ student.id }} კლასი
      </mat-panel-description>

    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="maxvalueClass" min="1" max="10" placeholder="საკლასო">{{ maxValueClass() }}
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" min="1" max="10" placeholder="საშინაო"  [(ngModel)]="maxvalueHome">{{ maxValueHome() }}
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" min="1" max="10" placeholder="შემაჯამებელი"  [(ngModel)]="maxvalueSummary">{{ maxValueSummary() }}
    </mat-form-field>

    <mat-form-field>
      <input matInput value="კი" placeholder="დასწრება">
    </mat-form-field>

  </mat-expansion-panel>
</mat-accordion>
<button mat-raised-button color="warn">შენახვა</button>

